#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#user-list {
  grid-column: 1;
}

#repos-list {
  grid-column: 2;
}
ul {
  list-style: none;
}